@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Kranky&display=swap');

:root {
    --red: #D54741;
    --orange: #FFB871;
    --yellow: #FEDD7A;
    --black: #042123;
    --green: #009CA4;
    --blue: #99DCE3;
}

body
{
    background-color: var(--orange);
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
  }

a
{
    text-decoration: none;
}

.navbar
{
    background: var(--black);
    padding: 1em;

    .logo
    {
        font-family: zubilo-shadow,sans-serif;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        color: var(--red);
        font-size: 1.2em;
    }

    .container{
        display: grid;
        grid-template-columns: 180px auto;
        justify-content: space-between;

        nav{
            display: flex;
            justify-content: space-between;
            position: unset;
            height: auto;
            width: 100%;
            padding: 0;

            ul
            {
                list-style-type: none;
                margin: 0;
                padding-top: 0.1em;
                display: flex;
                justify-content: space-between;

                li a
                {
                    font-family: zubilo-black, sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    color: var(--yellow);
                    margin-inline: 1em;
                    padding: .1em 1em;

                    &:hover{
                        background: var(--green);
                    }
                }
            }
        }
    }
}