@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Kranky&display=swap");
:root {
  --red: #D54741;
  --orange: #FFB871;
  --yellow: #FEDD7A;
  --black: #042123;
  --green: #009CA4;
  --blue: #99DCE3;
  --gray: #707070;
}

li{
  display: list-item;
}

.top{
  display: block;
}

.top .title {
  font-family: zubilo-black, sans-serif;
  font-size: 30px;
  color: var(--black);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.top .part1 .hash .hash-box{
  width: 59%;
  border: 2px solid #707070;
  border-radius: 0.3em;
  background: var(--blue);
  padding-left: 10px;
  font-family: zubilo-black, sans-serif;
  font-size: 20px;
  font-style: normal;
  margin-left: 5%;
  margin-bottom: 1%;
  display: block;
}

.top .part1 .hash .hash-box .passweak{
  display: inline-block;
  color: var(--red); 
  font-size: 35px;
  margin: 0 33px 0 0;
}

.top .part1 .hash .hash-box .convert{
  display: inline-block;
  margin: 0;
  width: 20%;
  align-self: right;
}

.content{
  display: flex;
}

.content div{
  width: 50%;
}

.content .title {
  font-family: zubilo-black, sans-serif;
  font-size: 40px;
  color: var(--black);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.content .generatorbox {
  border: 1px solid black;
  margin-top: 1;
  width: 45%;
  background: var(--yellow);
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  border-radius: 1em;
}

.content .generatorbox .text{
  margin: auto;
  text-align: center;
  font-family: zubilo-black, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  color: var(--black);
  /* display: list-item */
}

.content .generatorbox .superpass-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
}

.content .generatorbox .superpass-button .inside-text {
  font-family: zubilo-lined, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 55px;
  text-align: center;
  background: var(--black);
  color: var(--red);
  border-radius: 0.5em;
  padding: 0.1em 0.5em;
  letter-spacing: .05em;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.3em;
}

.convert {
  background: var(--black);
  color: var(--blue);
  padding: 1em;
  font-family: zubilo-black, sans-serif;
  font-size: 30px;
  border-radius: 0.3em;
}

.hash{
  width: 100%;
}

.info {
  border: 1px solid black;
  background: var(--yellow);
  width: 40%;
  margin: 5% 2%;
}

.info .header{
  text-align: center;
  color: var(--red);
  font-size: 50px;
  font-family: zubilo-black,sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .1em;
  margin-bottom: auto;
}

.info .textbox{
  border: 1px solid black;
  margin-top: 1;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.info .textbox .text {
  color: var(--red);
  padding: 0.2em 1em;
  font-size: 30px;
  font-family: zubilo-black, sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 95%;
}

.recipe {
  border: 1px solid black;
  background: var(--black);
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
}

.recipe .header{
  text-align: center;
  color: var(--red);
  font-size: 50px;
  font-family: zubilo-black,sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .1em;
  margin-bottom: auto;
}

.recipe .textbox{
  border: 1px solid var(--gray);
  margin-top: 1;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  height: 70%;
}

.recipe .textbox .text {
  color: var(--red);
  padding: 0.2em 1em;
  font-size: 30px;
  font-family: zubilo-black, sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 95%;
}

.common {
  border: 1px solid black;
  background: var(--green);
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
}

.common .header{
  text-align: center;
  color: var(--yellow);
  font-size: 50px;
  font-family: zubilo-black,sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .1em;
  margin-bottom: auto;
}

.common .title{
  text-decoration: none;
}

.common .textbox{
  border: 1px solid var(--gray);
  margin-top: 1;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.common .textbox .text {
  color: var(--yellow);
  /* padding: 0.2em 1em; */
  font-size: 30px;
  font-family: zubilo-black, sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 95%;
  /* display: flex; */
  /* justify-content: center; */
}

.text .commonList{
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 40px;
}
/*# sourceMappingURL=main.css.map */