@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Kranky&display=swap");

li{
  display: list-item;
}

.top{
  display: block;
}

.top .title {
  font-size: 20px;
  color: var(--black);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.top .part1 .hash .hash-container {
  display: block;
  padding: 0;
}

.top .part1 .hash .hash-container .hash-box{
  width: 35%;
  border: 2px solid #042123;
  border-radius: 0.3em;
  background: var(--blue);
  padding: 10px 10px;
  font-size: 16px;
  margin-left: 5%;
  margin-bottom: 1%;
  margin-right: 0%;
  display: inline-block;
}

.top .part1 .hash .hash-box .passweak{
  /* display: inline-block; */
  color: var(--red); 
  font-size: 20px;
  margin: 0 33px 0 0;
}

.convert{
  border: 2px solid var(--blue);
  display: inline-block;
  margin: 0;
  padding: 10px 12px;
  background: var(--black);
  color: var(--blue);
  font-size: 20px;
  border-radius: 0.3em;
}

.info {
  width: 70%;
  margin: 1% 25% 2% 5%;
}

.info .header{
  text-align: left;
  color: var(--black);
  font-size: 26px;
  letter-spacing: .1em;
  margin-bottom: auto;
}

.info .textbox{
  margin-top: 1;
  width: 90%;
}

.info .textbox .text {
  color: var(--black);
  font-size: 16px;
  width: 95%;
  text-align: left;
}

.content{
  display: flex;
  justify-content: center
}

.recipe {
  border: 2px solid var(--black);
  border-radius: 1em;
  background: var(--red);
  width: 20%;
  margin-left: 5%;
  margin-right: 15%;
}

.recipe .header{
  text-align: center;
  color: var(--yellow);
  font-size: 25px;
  letter-spacing: .1em;
}

.recipe .textbox{
  border: 2px solid black;
  border-radius: 1em;
  margin-top: 1;
  width: 90%;
  margin:auto;
  margin-bottom: 3%;
}

.recipe .textbox .text {
  color: var(--orange);
  text-align: left;
  font-size: 16px;
  width: 95%;
}

.common {
  border: 2px solid black;
  border-radius: 1em;
  background: var(--green);
  width: 20%;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

.common .header{
  text-align: center;
}

.common .title{
  letter-spacing: .1em;
  text-decoration: none;
  font-size: 25px;
  color: var(--black);
  margin-left: auto;
  margin-right: auto;
}

.common .textbox{
  border: 2px solid black;
  border-radius: 1em;
  margin-top: 1;
  width: 90%;
  margin:auto;
  margin-bottom: 3%
}

.common .textbox .text {
  color: var(--yellow);
  font-size: 16px;
  width: 95%;
  padding-left: 7%;
}

.text .commonList{
  -moz-column-count: 2;
  -moz-column-gap: 18px;
  -webkit-column-count: 2;
  -webkit-column-gap: 18px;
  column-count: 2;
  column-gap: 18px;
}

.content .generatorbox {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  border-radius: 1em;
}

.content .generatorbox .text{
  text-align: center;
  font-size: 18px;
  color: var(--black);
  padding: 0.1em 0.5em;
}

.content .generatorbox .superpass-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2%;
}

.content .generatorbox .superpass-button .inside-text {
  font-size: 18px;
  text-align: center;
  background: var(--black);
  color: var(--yellow);
  border-radius: 0.5em;
  padding: 0.1em 0.5em;
  letter-spacing: .05em;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.3em;
}



/*# sourceMappingURL=main.css.map */