@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Kranky&display=swap');

.top{
    margin: auto;
    width: 50%;
    margin-top: 20px;
    padding: 50px 10px 10px 10px;
    text-align: center;
    display: block;

    .title{
        color: #042123;
        font-size: 35px;
    }

    .passweak{
        font-size: 30px;
        border: 9px solid #D54741;
        border-radius: 0.5em;
        padding: 3px 10px 0px 10px;
        background-color: #FEDD7A;
        color: #D54741;
    }  
}

.bottom{
    margin: auto;
    width: 55%;
    margin-top: 20px;
    padding: 0px 10px;
    text-align: center;
    display: block;

    .nordpass{
        opacity: 56%;
        font-size: 20px;
    }

    .next-step{
        display: block;
        text-align: center;
        margin: auto;
        padding: 10px 5px;
        border-radius: 0.9em;
        width: 60%;
        font-size: 20px;
        background-color: #042123;

        .prompt{
            display: inline-block;
            margin: 0px 20px;
            color: #FFB871;
        }

        .start{
            margin-top: 2%;
            display: inline-block;
            color: #D54741;
            background-color: #FEDD7A;
            padding: 2px 20px;
            border-radius: 0.5em;
        }
    }
}